<md-toolbar class="md-primary side-menu-header">
  <h3>Inconix</h3>
  <div class="side-menu-header__user-block">
    <div class="side-menu-header__user_description">
      <span class="side-menu-header__user-name">Идрисова Файруза</span>
      <span class="side-menu-header__user-email">biruzka@gmail.com</span>
    </div>
    <md-button class="md-icon-button side-menu-header__edit-user-button">
      <!--<i class="material-icons">&#xE254;</i>-->
      <i class="material-icons">&#xE879;</i>
    </md-button>
  </div>
  
</md-toolbar>
