<div class="side-menu-content">
  <a class="side-menu-content__link" ui-sref="userApp.projectsPage" href="">ПРОЕКТ</a>
  <a class="side-menu-content__link" ui-sref="userApp.stuffPage" href="">СОТРУДНИКИ</a>
  <a class="side-menu-content__link" ui-sref="userApp.prototypesPage" href="">ПРОТОТИПЫ</a>
  <a class="side-menu-content__link" ui-sref="userApp.usecasesPage" href="">ДОКУМЕНТЫ</a>
  <a class="side-menu-content__link" ui-sref="userApp.statusPage" href="">СОСТОЯНИЕ</a>
  <md-divider></md-divider>
  <a class="side-menu-content__link" ui-sref="userApp.projectChoosePage" href="">СМЕНА ПРОЕКТА</a>
  <a class="side-menu-content__link" ui-sref="userApp.invitesPage" href="">ПРИГЛАШЕНИЯ</a>
</div>
