<md-list class="md-whiteframe-2dp">
      <md-list-item class="md-3-line invited-stuff-list__person" ng-repeat="invite in $ctrl.invites">
        <div class="md-list-item-text invited-stuff-list__person-data">
          <span class="invited-stuff-list__person-name primary-text">
            {{::invite.name_project}}
          </span>
        </div>
        <md-button class="md-secondary"
                   data-ng-click="$ctrl.removeInvite({index: $index, invite: invite})">
          Отклонить
        </md-button>
        <md-button class="md-secondary"
                   data-ng-click="$ctrl.acceptInvite({index: $index, invite: invite})">
          Принять
        </md-button>
        <md-divider ng-if="!$last"></md-divider>
      </md-list-item>
</md-list>