<h1 class="accent-text">СОСТОЯНИЕ ПРОЕКТА</h1>
<iconix-status-table
        selected="$ctrl.selected" limitOptions="$ctrl.limitOptions" options="$ctrl.options" query="$ctrl.query" usecases="$ctrl.usecases"
        toggle-limit-options="$ctrl.toggleLimitOptions()"
        get-types="$ctrl.getTypes()"
        load-stuff="$ctrl.loadStuff()"
        log-item="$ctrl.logItem(item)"
        log-order="$ctrl.logOrder(order)"
        log-pagination="$ctrl.logPagination(page, limit)">
</iconix-status-table>