.prototype-menu {
  width: 64em;
  margin-bottom: 2em;
}
.prototype-base {
  width: 64em;
  height: auto;
  position: relative;
  margin-bottom: 2em;
}
.proto-img {
  width: 64em;
  height: auto;
  background-repeat: no-repeat;
}
.proto-img_picture {
  max-width:64em;
}

