<div layout-gt-sm="raw" layout-align="space-between" class="prototype-menu">
    <md-input-container class="md-block" flex-gt-sm>
        <label>Прототип</label>
        <md-select name="type" ng-model="$ctrl.selectedPrototype" ng-model-options="{trackBy: '$value.id'}" ng-change="$ctrl.getNotes({prototype: $ctrl.selectedPrototype})">
            <md-option ng-value="prototype" ng-repeat="prototype in $ctrl.prototypes">{{ prototype.code }} {{ prototype.name }}</md-option>
        </md-select>
        {{$ctrl.selectedPrototype._id + "here"}}
    </md-input-container>
    <div flex="30" hide-xs hide-sm>
        <!-- Spacer //-->
    </div>
    <section layout="row" layout-sm="column" layout-align="end center" layout-wrap>
        <md-button>Удалить</md-button>
        <a class="prototype-menu__a" ui-sref="userApp.prototypeUpdatePage" href=""><md-button>Изменить</md-button></a>
    </section>
</div>

<div class="prototype-base md-whiteframe-3dp" load-img="$ctrl.loadImage(image)" ng-mouseenter="options2=false" ng-mouseleave="options2=true">
    <div class="proto-img">
        <img class="proto-img_picture" src="./resources/3.jpg" alt="">
    </div>

    <!--render all notes like this one-->
    <!--<span ng-mouseenter="options=true" ng-mouseleave="options=false" class="icon" ng-hide="options2 || checkbox">-->
        <!--<div style="width: 100px; height: 100px; border: 4px double  #a3ffd3; position:absolute; top:10px; left: 10px" ng-hide="options || checkbox" >-->
        <!--</div>-->
        <!--<div class="note" style=" top:10px; left: 10px;" ng-show="options || checkbox">-->
            <!--<h2>Note in gap</h2>-->
            <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, ab assumenda debitis deleniti enim est laboriosam modi placeat quasi quod repellendus ut voluptatibus. Et facilis hic laboriosam omnis rerum similique?</p>-->
        <!--</div>-->
    <!--</span>-->
    <!--render all notes like this one-->


    <!--render all notes like this one-->
    uuuuu {{$ctrl.currentPrototypeNotes}}
        <span  ng-repeat="note in $ctrl.currentPrototypeNotes">
            object{{note}}object
            <div style="width: 100px; height: 100px; border: 4px double  #a3ffd3; position:absolute; top:10px; left: 10px"  >
            </div>
            <div class="note" style=" top:10px; left: 10px;" >
            <h2>{{note.title}}</h2>
            <p>{{note.text}}</p>
            </div>
        </span>
    <!--render all notes like this one-->

</div>
<!--<input type='checkbox' ng-model="checkbox" ng-click="options2=!options2">Показ заметок-->

<!-- Плавающая конопка добавления -->
<a ui-sref="userApp.prototypeCreatePage" href="">
<div class="float-btn create-button">
    <md-button class="md-fab"  aria-label="Добавить">
        <md-tooltip >
            Добавить
        </md-tooltip>
        <md-icon style="width: 24px; height: 24px;"><i class="material-icons">&#xE145;</i></md-icon>
    </md-button>
</div>
</a>


