.prototype-menu {
  width: 64em;
  margin-bottom: 2em;
}
.prototype-base {
  width: 64em;
  height: 30em;
  position: relative;
  margin-bottom: 2em;
}
.proto-img {
  background-image: url(./images/2.jpg);
  width: 64em;
  height: 30em;
  //background-color: #CCCCCC;
  background-repeat: no-repeat
}

