<div layout-gt-sm="raw" layout-align="space-between" class="prototype-menu">
    <md-input-container class="md-block" flex-gt-sm>
        <label>Прототип</label>
        <md-select name="type" ng-model="$ctrl.selectedPrototype" ng-model-options="{trackBy: '$value.id'}" ng-change="$ctrl.getNotes({prototype: $ctrl.selectedPrototype})">
            <md-option ng-value="prototype" ng-repeat="prototype in $ctrl.prototypes">{{ prototype.code }} {{ prototype.name }}</md-option>
        </md-select>
        {{$ctrl.selectedPrototype._id + "here"}}
    </md-input-container>
    <div flex="30" hide-xs hide-sm>
        <!-- Spacer //-->
    </div>
    <section layout="row" layout-sm="column" layout-align="end center" layout-wrap>
        <md-button>Удалить</md-button>
        <a class="prototype-menu__a" ui-sref="userApp.prototypeUpdatePage" href=""><md-button>Изменить</md-button></a>
    </section>
</div>

<div class="prototype-base md-whiteframe-3dp" load-img="$ctrl.loadImage(image)" ng-mouseenter="options2=false" ng-mouseleave="options2=true">
    <div class="proto-img">
        <img class="proto-img_picture" src="./resources/3.jpg" alt="">
    </div>

    <!--render all notes like this one-->
        <span  ng-repeat="note in $ctrl.currentPrototypeNotes">
            <div style="width: 10px; height: 10px; border: 4px double  #a3ffd3; position:absolute; top:{{note.y}}px; left: {{note.y}}px"  ng-hide="options || checkbox" ng-mouseenter="options=true" ng-mouseleave="options=false" >
            </div>
            <div class="note" style=" top:{{note.y}}px; left: {{note.x}}px;" ng-show="options || checkbox">
            <h4>{{note.title}}</h4>
            <p>{{note.text}}</p>
            </div>
        </span>
    <!--render all notes like this one-->

</div>

<!-- Плавающая конопка добавления -->
<a ui-sref="userApp.prototypeCreatePage" href="">
<div class="float-btn create-button">
    <md-button class="md-fab"  aria-label="Добавить">
        <md-tooltip >
            Добавить
        </md-tooltip>
        <md-icon style="width: 24px; height: 24px;"><i class="material-icons">&#xE145;</i></md-icon>
    </md-button>
</div>
</a>


